@{
    ViewData[ViewKey.Title] = "Access Denied";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2 col-10 offset-1 text-center">
        <h1 class="big"><span class="status-code">403</span><br /><i class="bi bi-x-circle text-danger"></i></h1>
        <h2 class="text-danger border border-4 border-danger p-3 d-inline-block mt-3 mb-5 skew">Access Denied</h2>
        <p>It seems you have wandered into a restricted area without the requisite credentials.</p>
@*        <p>In order to avoid any unfortunate or unpleasant situations, you may want to follow one of these links back to safety:</p>*@
    </div>
</div>